.cat-chooser {
  display: none;
  position: absolute;
  padding: 5px 20px;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.5);
  z-index: 1;
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}